<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
      <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  <ion-content>
    <ion-list>
      <ion-item [routerLink]="'/home'">inicio</ion-item>
      <ion-item [routerLink]="'/contacto'">contacto</ion-item>
      <ion-item [routerLink]="'/asunto'">asunto</ion-item>
      <ion-item [routerLink]="'/mensage'">mensage</ion-item>
      <ion-item [routerLink]="'/mensage'">enviar</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
